*{
    box-sizing: border-box;
}
body {
    font-size: 24px;
    background-color: #444;
}
.sounds {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 20vh;
    gap: 3px;
    margin: 1rem;
}
.sound {
    border: .4rem solid rgba(0, 0, 0, 0.24);
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 7rem;
    color: white;
    text-align: center;
    background: rgba(58, 53, 53, 0.4);
}
.key {
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}
kbd {
    display: block;
    font-size: 4rem;
}
.records {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
    gap: 15px; 
    transform: translate(0, 65px)
}
.record {
    width: 20vw;
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: beige;
    background: rgba(255, 219, 121, 0.2); 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.btn{
    display: inline-block;
    padding: 10px 15px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #5c4700;
    background-color: #ffc600;
    border: none;
    border-radius: 8px;
    box-shadow: 0 8px #5c4700;
}
.add-btn{
    background-color: rgb(177, 255, 94);
}
.active{
    background-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
    transform: scale(1.1);
}
.activeGreen{
    background-color: rgb(177, 255, 94);
    box-shadow: 0 3px #5c4700;
    transform: translateY(4px);
} 